[submodule "subs/contracts/lib/forge-std"]
	path = subs/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "subs/contracts/lib/poseidon2-evm"]
	path = subs/contracts/lib/poseidon2-evm
	url = https://github.com/zemse/poseidon2-evm
